body{
	font-family: 'Ubuntu', 'Lato', sans-serif;
}

#logo{
    margin-left: 30%;
    margin-top: -0.5%;
    margin-bottom: 1%;
    width: 60px;
    height: 60px;
    z-index: 3;
}
#titulo{ 
    position: absolute;
    top: 10%;
    left: 37%;
    font-size: 54px;
    margin-bottom: 1%;
	color: black;
    text-align: center;
}

#bilatu{
	background-color: none;
	position: relative;
	top: 0.5%;
	left: 2%;
	color: green;
	border: 0px;
}
#menu_txikia{
	background: none;
	margin-top: 3px;
}

#bil{
	position: fixed;
	top: 25%;
	left: 83.5%;
}

input[type="search"]{
	position: absolute;
	top: 19%;
	left: 83.5%;
	width: 45px;
	background: #ededed url('../img/lupa.png') no-repeat 12px center;
	padding: 12px 11px 10px 33px;
	border-radius: 15em;
	transition: all .5s;
	outline: none;
}
input[type="search"]:focus{
	width: 150px;
	padding-left: 32px;
	color: #000;
	background-color: #FFF;
}

#header h1{
	position: absolute;
	top: 30%;
	left: 10%;
	color: black;
	font-size: 30px;
}

#log{
	position: relative;
	left: 2%;
	margin-top: 15px;
	width: 25px;
	height:25px;
}

#probin{
	position: absolute;
	top: 10%;
	left: -15%;
}

#hizkuntzak li,
#hizkuntzak li a{
    display:inline-block;
    float: right;
  	padding-left: 2px;
  	padding-right: 2px;
    color: black;
}
#top_header li{
    display:inline-block;
    float: left;
    padding-left: 25px;
    padding-top: 5px;
    font: 1.25em/1.5em 'Ubuntu';
}

#top_headerDer li{
    display:inline-block;
    float: right;
   
    padding-right: 50px;
    font: 1.25em/1.5em 'Ubuntu';
}

#top_headerDer img{
    margin-top: 5px;
    padding-right: 2px;
}

#registro{
    background-color: green;
    display: block;
    width: 100%;
    height: 40px;
    -webkit-border-radius: 10px;
}
#registro a{
	color: white;
	font-style: italic;
}
#registro a:hover{
	color: black;
}
#izena{
	border: 2px solid black;
	display: -webkit-box;
	padding: 10px;
	margin: 10px;
	margin-left: 0%;
	width: auto;
	height: 20px;
	-webkit-box-flex: 2;
	-webkit-border-radius: 10px; /* 5px 10px para hacerlo asimetrico*/
	background: -webkit-linear-gradient(right, white 25%, green 75%);
	/*-webkit-box-shadow: rgba(110,110,110, 0.7) 10px 10px 10px; 
	rgb(a): es la intensidad de la sombra. LO MISMO CON inset al final para hacerla sombra dentro*/
}
a{
	color: black;
    text-decoration: none;
}
a:hover{
	color: green;
}

#herri{
	position: absolute;
	top: 36.5%;
	left: 10%;
	font: 1.5em 'Ubuntu';
	font-weight: 9; 
}

#sagardo{
	position: absolute;
	top: 36.5%;
	left: 10%;

	font: 1.5em 'Ubuntu';
	font-weight: 9;
}

#taulaHerriak{
	position: relative;
	left: 5%;
	margin-top: 3%;
}

#taulaHerriak2{
	position: relative;
	left: 15%;
	margin-top: -16.5%;
}

#taulaHerriak3{
	position: relative;
	left: 15%;
	margin-top: -16.5%;
}

#taulaHerriak4{
	position: relative;
	left: 15%;
	margin-top: -16.5%;
}

#taulaHerriak5{
	position: relative;
	left: 15%;
	margin-top: -16.5%;
}

#sagar_ize{
	background-color: green;
	border: 0px;
	font-family: 'Ubuntu', 'Lato', sans-serif;
	font-size: 18px;
	color: white;
}
#sagar_ize:hover{
	color: purple;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
	
	.foo{
		height:1200px;
	}
	
	#logo{
	    position: absolute;
	    top: 7%;
	    left: -20%;
	    margin-bottom: 1%;
	    width: 50px;
	    height: 50px;
	    z-index: 3;
	}
	#titulo{ 
	    position: absolute;
	    top: 10%;
	    left: 25%;
	    font-size: 35px;
	    margin-bottom: 1%;
		color: black;
	    text-align: center;
	}
	#menu_txikia{
		background: none;
		margin-top: 115px;
	}

	#bil{
		position: absolute;
		top: 25%;
		left: 59.5%;
	}
	
	#probin{
		margin-top:32px;
		margin-left:18px;
	}
	
	#herri{
		margin-top:10px;
		margin-left:30px;
	}

	#hizkuntzak{
		position: absolute;
		top: -220%;
		left: 86%;
	}

	#header h1{
		position: absolute;
		top: 26%;
		left: 13%;
		color: black;
		font-size: 30px;
	}

	#sagardo{
		position: absolute;
		top: 37%;
		left: 17%;
	}

	#taulaHerriak{
		margin-top:25px;
		position: absolute;
		top: 40%;
		left: 17%;
	}

	#taulaHerriak2{
		position: relative;
		margin-top: 5px;
		left: -1%;
	}

	#taulaHerriak3{
		position: relative;
		margin-top: 5px;
		left: -1%;
	}

	#taulaHerriak4{
		position: relative;
		margin-top: 5px;
		left: -1%;
	}

	#taulaHerriak5{
		position: relative;
		margin-top: 5px;
		left: -1%;
	}

	.foo {
	    width: 85%;
	    height: 1125px;
	    margin: 20px auto;
	    background: rgba(255,255,255,0.7);   
	    padding: 20px;
	    z-index: 2;
	}

	#registro{
	    background-color: green;
	    display: block;
	    width: 90%;
	    height: 40px;
	    -webkit-border-radius: 10px;
	
	}
	
	

}