/* CSS DEL VIDEO */
body { font-family:'verdana'; }

/* DIV DONDE VA EL VIDEO */
#media-player {
	position: absolute;
	top: 50%;
	left: 137%;
	float:left;
	padding:1em 1em .5em;
	background: rgba(0,0,0,0.5);
	display: none;
}

/* VIDEO */
video {
	border:1px solid grey;
	width:305px;
	height:160px;
	background:#000;
}

/* POSICION Y FORMATO BOTONES ACCION */
button {
	text-indent:-9999px;
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	background:transparent url('../img/buttons.png') no-repeat 0 0;
}

/* BOTONES DE ACCION DEL VIDEO */
.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }

/* BARRA PROGRESO */
progress {
	color:green;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }
