#registro{
    background: rgba(0,0,0,0.5);
    display: block;
    width: 87%;
    height: 40px;
    margin-top: 6%;
    padding-left: 13%;
    -webkit-border-radius: 10px;
    z-index: 2;
}
#datuak{
    position: absolute;
    top: 160px;
    left: 350px;
    display: none;
}
#sagardo{
    position: absolute;
    top: 160px;
    left: 180px;
    display: none;
}
#pass{
    position: absolute;
    top: 130px;
    left: 370px;
    display: none;
}
#lista{
    background-color: black;
    width: 87%;
    height: 400px;
    margin-top: 6%;
    margin-left: 5%;
    display: none;
}