a{
	text-decoration: none;
}

#logo{
    margin-left: 30%;
    margin-top: -0.5%;
    margin-bottom: 1%;
    width: 60px;
    height: 60px;
    z-index: 3;
}
#titulo{ 
    position: absolute;
    top: 9%;
    left: 37%;
    font-size: 54px;
    margin-bottom: 1%;
	color: black;
    text-align: center;
}

#log{
	position: relative;
	left: 2%;
	margin-top: 15px;
	width: 25px;
	height:25px;
}

#userPerfil{
    margin-left: 12px;
    margin-top: 0px;
}

#hizkuntzak li,
#hizkuntzak li a{
    display:inline-block;
    float: right;
    padding-left: 2px;
    padding-left: 2px;
    color: black;
}
#top_header li{
    display:inline-block;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 15px;
    font: 1.25em/1.5em 'Ubuntu';
}

#top_headerDer li{
    display:inline-block;
    float: right;
   
    padding-right: 50px;
    font: 1.25em/1.5em 'Ubuntu';
}

#top_headerDer img{
    margin-top: 5px;
    padding-right: 2px;
}

#registro{
    background-color: green;
    display: block;
    width: 100%;
    height: 40px;
    -webkit-border-radius: 10px;
}
#registro a{
	color: white;
	font-style: italic;
}
#registro a:hover{
	color: grey;
}
#izena{
	position: relative;
	border: 2px solid black;
	display: -webkit-box;
	padding: 10px;
	margin: auto;
	margin-left: 0px;
	width: 97%;
	height: 20px;
	-webkit-box-flex: 2;
	-webkit-border-radius: 10px; /* 5px 10px para hacerlo asimetrico*/
	background: -webkit-linear-gradient(right, white 25%, green 75%);
}
#izena h1{
	margin-top: -10px;
}
#menu_txiki_herria{
	background: none;
	position: relative;
	top: 7px;
	left: 1%;
	color: green;
	border: 0px;
}
#menu_txiki_izena{
	color: green;
	font-size: 14px;
	position: relative;
	top: 5px;
	left: -10px;
}
#deskribapena{
	position: absolute;
	top: 32%;
	left: 9%
}
#googleMap{
	width: 640px; 
	height: 400px;
	position: absolute;
	top: 31%;
	left: 40%;
	margin-bottom:2px;
}

#slider{
	background: none;
	position: absolute;
	top: 31%;
	left: 25%;
}

#iruzkin{
	position: absolute;
	width: 370px;
	top: 50%;
	left: 9%;
	display: none;
	overflow: scroll;
	height: 180px;
}
#iruzkinSartu{
	position: absolute;
	top: 80%;
	left: 9%;

}
#nork{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	display: -webkit-box;
	padding: 8px;
	margin: auto;
	margin-left: 0px;
	width: auto;
	height: 10px;
	-webkit-border-radius: 10px;
}

#login{
	position: fixed;
	left: 67%;
	top: 9%;
	display: none;
	z-index: 5;
}

input:invalid {
 
border: 1px solid red;
 
}
 
/* Estilo por defecto */
 
input:valid {
 
border: 1px solid green;
 
}
 
.form-4 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: absolute;
    left: 32%;
    top: 30px;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    outline: none;
 
    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-4 label {
    /* Size and position */
    width: 100%;
    float: left;
    margin-top: -8px;
     
    /* Styles */
    color: red;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 90%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
 
    /* Styles */
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
 
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
 
}
 
.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover,
.form-4 label:hover ~ input[type=text],
.form-4 label:hover ~ input[type=password] {
    background: #27292c;
}
 
.form-4 input[type=text]:focus, 
.form-4 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

.form-4 input[type=button] {
    /* Width and position */
    width: 95%;
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: green;
    cursor:pointer;
   
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
 
.form-4 input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 
.form-4 input[type=submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}
 
.no-boxshadow .form-4 input[type=submit]:hover {
    background: #2a92d8;
}
/* Gradient line */

.form-4:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 30%;
    top: 0;
 
    /* Styles */
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}
 
/* Small flash */
.form-4:before {
    /* Size and position */
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 0%;
    top: -5px;
     
    /* Styles */
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}

.form-4 p:nth-child(1):before{
    /* Size and position */
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;
 
    /* Styles */
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events: none;
}

@media only screen and (max-width: 800px) {
	
	
	
	#logo{
	   	position: absolute;
		top: 5%;
		left: -20%;
	    width: 60px;
	    height: 60px;
	    z-index: 3;
	}
	
	#titulo{ 
	    position: absolute;
	    top: 9%;
	    left: 25%;
	    font-size: 40px;
	    margin-bottom: 1%;
		color: black;
	    text-align: center;
	}
	#googleMap{
		width:90%;
		height:200px;
		position: absolute;
		top: 110%;
		left: 5%;
	}
	
	#iruzkin{
		position: absolute;
		width: 300px;
		top: 50%;
		left: 9%;
		display: none;
		overflow: scroll;
		height: 180px;
	}

	#iruzkinak{
		width:250px;
	}
	
	#iruzkinSartu{
		position: absolute;
		top: 85%;
		left: 9%;
	}
		
}